/* Top reddits container and header styles */

.subreddits-container {
    width: 25rem;
    margin-left: 2rem;
    background-color: white;
    border-radius: .4rem;
    overflow: hidden;
}

.subreddits-header {
    height: 6rem;
}

.subreddits-header > div {
    height: 100%;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(#00000000, rgba(0, 0, 0, 0.575));
    
}

.subreddits-header h4 {
    color: white;
    margin: 0 1.5rem
}

/* Content styles */

li {
    padding: .5rem 0;
    border-top: 1px solid var(--mainBGcolor);   
}

li::marker {
    content: ''
}

.subreddit-item {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    
}

.subreddit-item > div {
    padding: .3rem .6rem;
}



.subreddit-item span {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0 .3rem;
}



.subreddit-item-info img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.subreddit-item-button  {
    width: fit-content;
}

.subreddit-item-button a {
    padding: .2rem .5rem;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .subreddits-container {
        display: none;
    }
}