
/* List of subreddits styles */

.listing-header {
    height: 6rem;
    
}

.listing-header > div {
    height: 100%;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(#00000000, rgba(0, 0, 0, 0.575));
    
}

.listing-heading {
    margin: .7rem 1.5rem !important;
    color: white;
}

.listing-content ol > li {
    padding: .5rem 0;
    border-top: 1px solid var(--mainBGcolor);   
}

.listing-content ol > li::marker {
    content: ''
}

.subreddit-item {
    display: flex;
    justify-content: space-between;
    padding: 0 .3rem;
    
}

.subreddit-item > div {
    padding: .3rem .6rem;
}



.subreddit-item span {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 .3rem;
}



.subreddit-item-info img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.subreddit-item-button  {
    width: fit-content;
}

.subreddit-item-button a {
    padding: .2rem .5rem;
    font-weight: 400;
}

