
.profile-container {
    border-bottom: 1px solid var(--staticBGcolor);
    cursor: pointer;
}

.profile-content {
    display: flex;
    border-bottom: 1px solid var(--staticBGcolor)
}

.profile-icon img {
    width: 2.5rem;
    height: 2.5rem;   
    border-radius: .5rem;
 
}


.profile-info {
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
}

.profile-info span {
    font-size: 1rem;
    font-weight: 500;
}

.profile-karma p{
    font-size: .9rem;
    color: var(--postIconColor)
}

.ic_trophy {
    width: .8rem;
    height: .8rem;
    color: var(--postIconColor)
}

.profile-container > .menu {
    width: 100% !important;

}

.profile-container > .menu > div > button > span {
    font-weight: 500;
    margin-left: .5rem;
}

@media screen and (max-width: 500px) {
    .profile-info,
        .profile-container button {
        display: none;
    }
    
}