.topNews-wrapper {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}

.topNews-wrapper>div {
    padding-bottom: 1rem;
}

.topNews-wrapper>div>h4 {
    margin-left: 1rem;
}
.topNews-header>.dropdown>h4  {
    margin-left: .3rem;
}


.news-container {
    height: 13rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: transparent;
    flex-grow: 1;
    cursor: pointer;
}

.news-wrapper {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
    margin: 0 .4rem;
    background: linear-gradient(white, black);
}

.news {
    width: 100%;
    height: 100%;

}

.news-title-wrapper {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.386);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.news-title {
    color: white;

    padding: 1rem .7rem;

}

.news-title h4 {
    padding: .7rem 0;
}

.news-title-subreddit {
    display: flex;
    align-items: center;
}

.news-title-subreddit img {
    max-width: 1.3rem;
    max-height: 1.3rem;
    border-radius: 50%;

    margin-right: .3rem;
}

