/* Universal styles */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../assets/icons2/style.css');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--mainBGcolor);
}

:root {
  --buttonMainColor: #1fb51f;
  --buttonMainOnHoverColor: #1fb51f87;
  --mainBGcolor: #3679321c;
  --buttonTextOnHover: white;
  --postIconColor: rgba(0, 0, 0, 0.384);


}

.flex-align-center {
  display: flex;
  align-items: center;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Headings */


h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Universal buttons */

.button {
  border: .1rem solid var(--buttonMainColor);
  color: var(--buttonMainColor);
  background: transparent;
  width: 10rem;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: .5rem 0;
  font-size: 1rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.button:hover {
  background-color: var(--buttonMainOnHoverColor);
  color: var(--buttonTextOnHover);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Menus */

button[class*='menu'] {
  display: none;
}

.active {
  display: flex !important;
}

.menu {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 46px;
  left: 0px;
  background-color: white;
  border-radius: .2rem;

  box-shadow: 0px 2px 3px var(--mainBGcolor), 0px -2px 3px var(--mainBGcolor);
}

.menu div {
  display: flex;
  align-items: center;


}

.menu div:hover {
  background-color: var(--mainBGcolor);
}

/* Links and icons */

a {
  text-decoration: none;

  color: inherit;
}

.icons {
  color: var(--buttonMainColor);
  width: 1.3rem;
  height: 1.3rem;
}

.post-icons {
  color: var(--postIconColor);
  width: 1.3rem;
  height: 1.3rem;

}

/* Page styles */

.page-container {
  max-width: 1080px;
  margin: 0 auto;
}





