/* Page entire container styles */



.content-container {
    margin-top: 1.5rem;
    padding: 0 2rem;
}

.content-wrapper {
    display: flex;

}

.content-container h4 {
    margin: .7rem 0;
}

/* Post styles */

.post-container {

    background-color: white;
    border-radius: .4rem;
    display: flex;
    margin-bottom: 1.2rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.post-container:hover {
    border: 1px solid var(--postIconColor);
}

/* Post vote arrows section */

.vote-arrows-container {
    padding: 1.3rem .2rem;
    background-color: #00000006;
}


.vote-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: .8rem;
}

[class*='ic_arrow'] {
    margin: .5rem 0;
    cursor: pointer;
}

[class*='ic_arrow']:hover {
    background-color: var(--mainBGcolor);
    border-radius: .2rem;
}

[class*='ic_arrow_up']:hover {
    color: var(--buttonMainColor)
}

[class*='ic_arrow_down']:hover {
    color: rgb(212, 32, 0);
}



/* Post author section */

.post-author {

    display: flex;
    align-items: center;
    margin: 0 .5rem;

}

.post-author-subreddit {
    display: flex;
    align-items: center;
}

.post-author-subreddit img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    border-radius: 50%;
    margin-right: .3rem;

}

.post-author-subreddit span {
    font-weight: 700;
    cursor: pointer;
    font-size: .95rem;
}

.post-author-subreddit span:hover {
    text-decoration: underline;
}

.post-author-dot {
    margin: 0 .3rem
}

.post-author-description {
    font-size: .8rem;
    font-weight: 400;
    color: var(--postIconColor);
}


/* Post title and content section */

.post-wrapper {
    width: 100%;

}

.post-header {

    padding-top: 1rem;
    padding-left: .6rem;
    width: 100%;
}


.post-title {
    padding: .7rem .4rem;
}

.post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.post-description {
    width: 100%;
}


.post-media-container {
    overflow: hidden;
}


.post-media-container video {
    max-width: 100%;
}

.post-media-container img {
    width: 100%;
    max-height: 512px;
}




/* description paragraphs */

.md p {
    padding-bottom: .5rem;
    padding-right: 1rem;
}

/* Bottom section of a post */

.post-bottom {
    display: flex;

}

#bottom {
    padding: .5rem .7rem;
    margin: .2rem .2rem;
    position: relative;

}

#bottom:hover {
    background-color: var(--mainBGcolor);
    border-radius: .2rem;
}

.post-bottom span {
    font-size: .9rem;
    font-weight: 700;
    color: var(--postIconColor);
    margin-left: .5rem;
}