.searchBar-container {
    margin: 0rem .5rem;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(222, 222, 222, 0.419);
    height: 2.3rem;
    border-radius: .4rem;
 
}

.searchBar-form {
    height: 100%;
    width: 100%;
}

.searchBar-form > svg {
    color: black;
    margin: 0 .5rem;
    opacity: .5;
}


.searchBar-form input {   
    width: 100%;
    background: transparent;
    border: none; 
    
}

.searchBar-form input:focus,
.searchBar-form input:hover  {
   
    outline: none;
  }

  .searchBar-container:focus,
  .searchBar-container:hover {
    box-shadow: 0 0 .2rem var(--staticOnHoverButton);
    border-color: var(--staticOnHoverButton);
    border-radius: .5rem;
  }


.searchBar-form input::placeholder {
    font-size: .9rem;
    
}

@media (max-width: 435px) {
    .searchBar-container {
        width: 70%;
        margin: 0 auto;        
        height: 1.7rem;
           
    }   
    .searchBar-form input::placeholder {
        font-size: .7rem;        
    }
}

