/* Post styles */
.posts {
    width: var(--postWidth);
    min-width: 35rem;
}

.post-top-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.296);
    height: 2.5rem;
    padding: 0 .7rem;
    display: flex;
    align-items: center;
    border-radius: .2rem;
}



.post-container {
    width: 100%;
    background-color: white;
    border-radius: .4rem;
    display: flex;
    margin-bottom: 1.1rem;
    border: 1px solid transparent;
    box-shadow: 0 .2rem .2rem var(--mainBGcolor);
}

.post-container:hover {
    border: 1px solid rgba(0, 0, 0, 0.126);
}

/* Post vote arrows section */

.vote-arrows-container {
    width: 2.5rem;
    
    background-color: #00000006;
    
}


.vote-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem;


}

.vote-arrows span {
    font-size: .7rem;
    font-weight: 400;
}

[class*='ic_arrow'] {    
    cursor: pointer;
    
}

[class*='ic_arrow']:hover {
    background-color: var(--mainBGcolor);
    border-radius: .2rem;
}

.ic_arrow_down {
    transform: rotate(180deg);
}

[class*='ic_arrow_up']:hover {
    color: var(--staticButtonColor)
}

[class*='ic_arrow_down']:hover {
    color: rgb(212, 32, 0);
}



/* Post author section */

.post-author {
    display: flex;
    align-items: center;
    margin: 0 .3rem;
}

.post-author-subreddit {
    display: flex;
    align-items: center;

}

.post-author-subreddit img {
    max-width: 1.2rem;
    max-height: 1.2rem;
    border-radius: 50%;
    margin-right: .3rem;
}

.post-author-subreddit span {
    font-weight: 600;
    cursor: pointer;
    font-size: .8rem;
}

.post-author-subreddit span:hover {
    text-decoration: underline;
}

.post-author-dot {
    margin: 0 .3rem
}

.post-author-description {
    font-size: .7rem;
    font-weight: 400;
    color: var(--postIconColor);
}


/* Post title and content section */

.post-wrapper {
    width: 100%;

}

.post-header {

    padding-top: .8rem;
    padding-left: .5rem;
    width: 100%;

}


.post-title {
    padding: .7rem .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.thumbnail {
    width: 100%;
    max-width: 8rem;
    height: 6rem;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: .3rem;
    margin-right: 1.6rem;
}



.post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.url a {
    text-decoration: underline;
    color: var(--buttonMainColor);
    font-size: .7rem;
}

.url a:hover {
    color: var(--buttonMainOnHoverColor)
}

.post-description {
    width: 100%;

}


.post-media-container {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: var(--postContentMaxWidth);
}

.post-media-container > div {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
}

.video-player {
    max-height: var(--postMaxHeight);
}

.post-media-img-container {
    display: flex;
    justify-content: center;
}

.post-media-img-container img {
    max-width: 100%;
    max-height: var(--postMaxHeight);

}


iframe {
    width: 100%;
    height: 28rem;

}




/* description paragraphs */

.description-data {
    max-height: 11.25rem;
    background: linear-gradient(180deg, black 70%, rgba(0, 0, 0, 0.045));  
    background-clip: text; 
    -webkit-background-clip: text;     
    text-shadow: 0px 0px transparent; /* for iOS */
    color: transparent;    
    overflow: hidden;
    min-width: 100%;
    max-width: var(--postContentMaxWidth);
}

.description-data p {
    font-size: 1.1rem;
    font-weight: 300;
    padding-right: .9rem;
    margin: .9rem 0;
}

.description-data a {
    text-decoration: underline;
    margin: .4rem 0;
    color: var(--buttonMainColor)
}



/* Bottom section of a post */

.post-bottom {
    display: flex;
}



#bottom> :first-child {
    padding: .3rem .6rem;
    margin: .2rem .1rem;   
}

#bottom> :first-child:hover {
    background-color: var(--mainBGcolor);
    border-radius: .1rem;
}

.post-bottom span {
    font-size: .8rem;
    font-weight: 700;
    color: var(--postIconColor);
    margin-left: .3rem;
}

/* Pagination buttons mobile  */
.pagination-buttons {
    display: flex;
    justify-content: space-between;
}

.pagination-buttons > .button {
    
    margin: 0 .5rem;
    background-color: var(--staticButtonColor);
    color: white;
    width: 6rem;
    font-size: .8rem;
}

@media (max-width: 768px) {    
    .posts {
        min-width: 100%;
    }

    .vote-arrows {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .vote-arrows button {
        display: flex;
        align-items: center;
    }

    .vote-arrows span {
        margin: 0 .3rem;
    }
}



@media (max-width: 430px) {
    #bottom> :first-child {
        padding: .3rem .2rem;   
    
    }  

    .post-bottom span {
        font-size: .7rem;
        font-weight: 500;       
    }

    .thumbnail {      
        max-width: 4.5rem;
        height: 4.5rem;
        
    }  
    
}

@media (max-width: 320px) {
    .post-author-dot {
        display: none;
    }

    .post-author {
        flex-direction: column;
        align-items: flex-start;
        gap: .3rem;
    }
}