.side-listing-container {
    width: 22rem;
    height: fit-content;
    margin-left: 1.7rem;
    overflow: hidden;
    background-color: white;
    border-radius: .3rem;
    box-shadow: 0 .2rem .2rem var(--mainBGcolor);

}

.bottom-no-content {
    text-align: center;
    margin-bottom: .4rem
}

