.side-listing-container {
    width: 25rem;
    height: fit-content;
    margin-left: 2rem;
    overflow: hidden;
    background-color: white;
    border-radius: .4rem;


}

.bottom-no-content {
    text-align: center;
    margin-bottom: .5rem
}