.header {
    display: flex;
    align-items: center;
    height: var(----nav-bar-height);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 .2rem .2rem var(--staticBGcolor);
}

.header-container {
    width: 100%;
    padding: 0 .9rem;
    display: flex;
    align-items: center;

}

.logo-searchBarContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;

}


.loginButton-container {
    margin-right: 5%;
}

.login-button {
    color: var(--staticButtonColor)!important;
    border: 1px solid var(--staticButtonColor)!important;
    max-height: 2.7rem;
}
.login-button:hover {
    background-color: var(--staticOnHoverButton)!important;
    color: var(--buttonTextOnHover)!important;
}


/* sizing different parts of logo */

.char {
    width: 2.2rem;
    height: 3rem;
}

.reddit span {
    font-size: 1.1rem;
    font-weight: 500;
}

.reddit span:nth-child(2) {
    color: var(--staticButtonColor);
}

/* logo container */

.logo {
    width: 100%;
    height: 100%;

}

.logo-wrapper {
    display: flex;
    align-items: center;

}

.logo-container {
    padding: .2rem .3rem;
}

.logo-container > span {
    pointer-events: none;
}

/* Mobile */

.hamburger-menu > button > svg {
    color: var(--staticButtonColor);
    width: 2.2rem;
    height: 2.2rem;
}

.hamburger-menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all .15s ease-in-out;

}

.hamburger-menu-container-active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.hamburger-menu-active > button {
    
    height: 2.5rem!important;
}



@media (max-width: 1025px) {
    .loginButton-container {
        margin-right: 2%;
    }

    .login-button {
        border: none !important;
    }
}

@media  screen and (max-width: 430px) {
    .mini-span, .char {
        display: none;
    }

    
}