.topNews-wrapper {
    padding-top: 1.2rem;
    margin-bottom: 1.5rem;
}

.topNews-wrapper>div {
    padding-bottom: .9rem;
}

.topNews-wrapper>div>h4 {
    margin-left: .9rem;
}
.topNews-header>.dropdown>h4  {
    margin-left: .3rem;
    color: var(--postIconColor);
}


.news-container {
    height: 11rem;
     
    display: flex;
    align-items: center;
    padding: 0 .9rem;
    background-color: transparent;

}

.news-wrapper {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
    margin: 0 .4rem;
    background: var(--backgroundGradient);
}

.news {
    width: 100%;
    height: 100%;

}

.news-title-wrapper {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.386);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.news-title {
    color: white;
    width: 100%;
    padding: .8rem .6rem;

}

.news-title h4 {
    padding: .5rem 0;
    width: 100%;
}





